#Gemini用のAPIキー（必須）
GEMINI_API_KEY=
#Discordボットのトークン（必須）
DISCORD_BOT_TOKEN=
# 以下はオプション
#TwitterAPI.IOのAPIキー（オプション)
TWITTER_API_IO_KEY=
#Googleカスタム検索APIキーと検索エンジンID（オプション）
GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_CX=